# Default ignored files
/shelf/
/workspace.xml
./test_data
.idea
split_fasta.py
.DS_Store
test_jupyter.ipynb
_one_plate_script.py
_scratch.py
*.pyc
*.pdf
functions/__pycache__/functions.cpython-310.pyc
old/Growth.py
functions/__pycache__/functions.cpython-310.pyc
old/
functions/__pycache__/